{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Css -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,700i" rel="stylesheet">
    <title>Sylibec Easpay Limited Admin</title>
</head>

<body>
<!--Container -->
<div class="mx-auto bg-grey-lightest">
    <!--Screen-->
    <div class="min-h-screen flex flex-col">
        <!--Header Section Starts Here-->
        <header class="bg-nav">
            <div class="flex justify-between">
                <div class="p-1 mx-3 inline-flex items-center">
                    <i class="fas fa-bars pr-2 text-white" onclick="sidebarToggle()"></i>
                    <h1 class="text-white p-2"><img src="{% static 'images/symbol1.png' %}" alt=""></h1><h1 style="color: white; font-size:30px;"><span>S</span>ylibec Easpay Limited</h1>                </div>
                <div class="p-1 flex flex-row items-center">
                    <a href="#" onclick="profileToggle()" class="text-white p-2 no-underline hidden md:block lg:block"><h1><i class="fa fa-id-badge"></i> {{ request.session.createname }}</h1></a>
                    <div id="ProfileDropDown" class="rounded hidden shadow-md bg-white absolute pin-t mt-12 mr-1 pin-r">
                        <ul class="list-reset">
                         
                          <li><hr class="border-t mx-2 border-grey-ligght"></li>
                          <li><a href="{% url 'logout' %}" class="no-underline px-4 py-2 block text-black hover:bg-grey-light">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!--/Header-->

        <div class="flex flex-1">
            <!--Sidebar-->
            <aside id="sidebar" class="bg-side-nav w-1/2 md:w-1/6 lg:w-1/6 border-r border-side-nav hidden md:block lg:block">
                <div class="flex">

                </div>
                <ul class="list-reset flex flex-col">
                    <li class=" w-full h-full py-3 px-2 border-b border-light-border ">
                        <a href="{% url 'admin'%}"
                           class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                           <i class="fa fa-id-badge"></i>
                            Dashboard
                            <span><i class="fas fa-angle-right float-right"></i></span>
                        </a>
                    </li>
                    <li class="w-full h-full py-3 px-2">
                        <ul class="list-reset -mx-2 bg-white-medium-dark">
                            <li class="border-t border-light-border w-full h-full px-2 py-3">
                                <a href="{% url 'register' %}"
                                   class="mx-4 font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                                    Register Page
                                    <span><i class="fa fa-angle-right float-right"></i></span>
                                </a>
                            </li>
                       
                        </ul>
                    </li>
                </ul>

            </aside>
            <!--/Sidebar-->
            <!--Main-->
            <main class="bg-white-300 flex-1 p-3 overflow-hidden">

            <div class="flex flex-col">
                <!-- Stats Row Starts Here -->
                <div class="flex flex-1 flex-col md:flex-row lg:flex-row mx-2">
                    <div class="shadow-lg bg-info rounded hover:bg-info-dark border-info-dark mb-2 p-6 md:w-1/4 mx-2">
                        <div class="p-4 flex flex-col">
                            <a href="#" class="no-underline text-white text-2xl">
                                
                            </a>
                            <a href="{% url 'pos' %}" class="no-underline text-white text-lg">
                                POS APPLICANTS
                            </a>
                        </div>
                    </div>

                    <div class="shadow bg-info rounded hover:bg-info-dark border-info-dark mb-2 p-2 md:w-1/4 mx-2">
                        <div class="p-4 flex flex-col">
                            <a href="{% url 'changeofowner' %}" class="no-underline text-white text-2xl">
                                
                            </a>
                            <a href="{% url 'changeofowner' %}" class="no-underline text-white text-lg">
                                VEHICLE CHANGE OF OWNER APPLICANTS
                            </a>
                        </div>
                    </div>

                    <div class="shadow-lg bg-info rounded hover:bg-info-dark border-info-dark mb-2 p-2 md:w-1/4 mx-2">
                        <div class="p-4 flex flex-col">
                            <a href="{% url 'learners' %}" class="no-underline text-white text-2xl">
                                
                            </a>
                            <a href="{% url 'learners' %}" class="no-underline text-white text-lg">
                                LEARNERS PERMIT APPLICANTS
                            </a>
                        </div>
                    </div>

                    <div class="shadow-lg bg-info  rounded hover:bg-info-dark border-info-dark mb-2 p-2 md:w-1/4 mx-2">
                        <div class="p-4 flex flex-col">
                            <a href="{% url 'license' %}" class="no-underline text-white text-2xl"></a>
                            <a href="{% url 'license' %}" class="no-underline text-white text-lg">
                                LICENSE RENEWAL APPLICANTS
                            </a>
                        </div>
                    </div>
                    <!-- <div class="shadow bg-success border-l-8 hover:bg-success-dark border-success-dark mb-2 p-2 md:w-1/4 mx-2">
                        <div class="p-4 flex flex-col">
                            <a href="#" class="no-underline text-white text-2xl">
                                500
                            </a>
                            <a href="#" class="no-underline text-white text-lg">
                                Total Products
                            </a>
                        </div>
                    </div> -->
                </div>
                </div>
                    <!--/Grid Form-->
            </main>
            <!--/Main-->
        </div>
        <!--Footer-->
        <footer class="bg-grey-darkest text-white p-2" style="height: 100px;">
            <h1 style="text-align: center; margin-top: 20px;">SylibecEasypayLimited&COPY;2022</h1>
        </footer>
        <!--/footer-->

    </div>

</div>

<script src="{% static 'js/main.js' %}"></script>

</body>

</html>